:root {
    --primary-color: #23d160;
}

body {
    margin: 2px;
}

.hide {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
}

.section {
    padding: 1.3em 1.3em !important;
}

.bottom-hr {
    margin-bottom: 1.2em;
    margin-top: 15px;
}

.top-hr {
    margin-top: 1.2em;
    margin-bottom: 15px;
}

#select-signature-type-section{
    margin-right: 1em;
    margin-left: 1em;

}

#operation-completed .title {
    padding-top: 1.2em;
}

#close-btn,
#clean-btn {
    margin-top: 4px;
    margin-bottom: 1.2em;
}

.start-trasform-sign-type {
    transform: translateY(10%);
    transition: transform 0.5s ease-in-out;
}

.trasform-sign-type {
    transform: translateY(-10%) !important;
    transition: transform 0.5s ease-in-out;
}

#use-visible-signature {
    margin-left: 32px;
    position: relative;
    /* margin-top: -12px; */
    top: -18px;
}

.start-trasform {
    transform: translateY(-25%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.transform {
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(15%);
}

.switch label b {
    position: relative;
    bottom: 2px;
}

.step p {
    margin-bottom: 1.2em;
    margin-left: 2px;
    font-size: 1.1em;
    width: fit-content;
    /* box-shadow: inset 0 -6px 0 rgba(47, 161, 238, 0.4); */
}

/* STEP 3 */
#pades-visible .switch {
    margin-left: 7px;
}

#pades-visible .file {
    margin-top: 12px;
}

input[type="number"] {
    width: 80%;
}

/* validation icon */
input[type="number"]+.icon {
    left: 5px;
    position: relative;
    bottom: 3px;
}

input[type="number"]:valid+.icon #valid-icon {
    display: inline;
}

input[type="number"]:valid+.icon #invalid-icon {
    display: none;
}

input[type="number"]:invalid+.icon #invalid-icon {
    display: inline;
}

input[type="number"]:invalid+.icon #valid-icon {
    display: none;
}

#loading{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-msg{
    text-align: center;
}


/* Loading */

.lds-ring {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    width: 72px;
    height: 72px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 72px;
    height: 72px;
    margin: 6px;
    border: 8px solid var(--primary-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}